@import "../../styles/_techColors.scss";

.cardContainer {
  padding: 2rem;
  margin-right: 1.25rem;
  border-top-left-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
  border-width: 2px;
  border-color: transparent;
  position: relative;
}

.cardContainer.selected {
  border-color: $techGold;
  border-right-color: transparent;
  box-shadow: -0.5rem 0 1rem 0.125rem rgba($techGray, 0.25);
}

.cardContainer.selected::before {
  content: "";
  position: absolute;
  background-color: transparent;
  right: -0.5rem;
  top: -0.5rem;
  height: 0.5rem;
  width: 0.5rem;
  border: 2px solid $techGold;
  border-bottom-right-radius: 0.5rem;
  border-left: none;
  border-top: none;
  box-shadow: 0.25rem 0.25rem 0 0.125rem white;
}

.cardContainer.selected::after {
  content: "";
  position: absolute;
  background-color: transparent;
  right: -0.5rem;
  bottom: -0.5rem;
  height: 0.5rem;
  width: 0.5rem;
  border: 2px solid $techGold;
  border-top-right-radius: 0.5rem;
  border-left: none;
  border-bottom: none;
  box-shadow: 0.25rem -0.25rem 0 0.125rem white;
}
