$techGold: #B3A369;
$techMediumGold: #A4925A;
$techDarkGold: #857437;
$techNavy: #003057;
$techWhite: #FFFFFF;
$techGray: #54585A;
$techDiploma: #F9F6E5;
$techPiMile: #D6DBD4;
$techBuzzGold: #EAAA00;
